@model IEnumerable<carmax.Models.order_cars>
@{
    ViewBag.Title = "previousOrderedCars";
}

<h2>previousOrderedCars</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Ordered Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.car_name</td>
                    <td>@item.car_price</td>
                    <td>@item.time</td>
                    <td>@item.details</td>
                </tr>
            }


        </tbody>
    </table>
</div>