@model carmax.Models.login
@{ ViewBag.Title = "Profile"; }




<head>
    <link rel="stylesheet" type="text/css" href="~/Content/reg.css">
</head>
<!-- User Profile Section -->

<body>
    <form action="/home/LogOut" method="POST">
        <div class="input-group d-flex flex-row-reverse" style="margin-top: 15px;margin-left:-15px;">
            <button name="logout" class="btn btn-secondary">Log out</button>
        </div>

    </form>

    <section class="container d-flex align-items-center justify-content-around mb-4">
        <!-- User Profile Card Section -->
        <div class="card border-0 shadow-lg p-3">
            <form action="/home/Profile" method="POST" class="">
                <h2 class="login-text text-center">User Profile </h2>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 76px;margin-left:20px;font-size:20px;font-weight:bold;">Username<b style="color: red;">*</b></label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="text" placeholder="Username" name="username" value="@Model.username" required>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 128px;margin-left:20px;font-size:20px;font-weight:bold;">Email</label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="email" placeholder="Email" name="email" value="@Model.email" readonly>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 120px;margin-left:20px;font-size:20px;font-weight:bold;">Phone</label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="text" placeholder="Phone" name="phone" value="@Model.phone" readonly>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 5px;margin-left:20px;font-size:20px;font-weight:bold;">Current Password<b style="color: red;">*</b></label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="password" placeholder="Password" name="cpassword" value="" required>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 40px;margin-left:20px;font-size:20px;font-weight:bold;">New Password</label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="password" placeholder="New Password" name="npassword" minlength="6" value="">
                </div>
                <div class="input-group d-flex justify-content-center" style="margin-top: 55px;">
                    <button name="edit" class="btn btn-success btn-lg btn-block">Edit</button>
                </div>

            </form>
        </div>
        <div class="card border-0 rounded shadow-lg w-50 h-50 p-4">
            @if (Session["userType"] != null && Session["userType"].Equals("normal"))
            {
<div class="container">
    <h3>Check your ordered cars</h3>
    <a href="/home/previousOrderedCars" class="btn btn-outline-primary mt-3">CLick here</a>
</div>}
        </div>
    </section>

</body>


@if (ViewBag.Message != null)
{
<script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>}
