@model carmax.Models.login
@{
    ViewBag.Title = "Profile";
}




<head>
    <link rel="stylesheet" type="text/css" href="~/Content/reg.css">
</head>
<!-- User Profile Section -->

<body>
    <form action="/home/LogOut" method="POST">
        <div class="input-group d-flex flex-row-reverse" style="margin-top: 15px;margin-left:-15px;">
            <button name="logout" class="btn btn-secondary">Log out</button>
        </div>

    </form>

    <div class="container" style="width: 450px;text-align: center;margin-top:95px;margin-bottom:30px;height:570px;background-color:white;box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);border-radius:5px;">
        <!-- User Profile Card Section -->
        <div class="card">
            <form action="/home/Profile" method="POST" class="">
                <p class="login-text" style="font-size: 2rem; font-weight: 800;margin-top:20px;margin-bottom:55px;">User Profile </p>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 76px;margin-left:20px;font-size:20px;font-weight:bold;">Username<b style="color: red;">*</b></label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="text" placeholder="Username" name="username" value="@Model.username" required>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 128px;margin-left:20px;font-size:20px;font-weight:bold;">Email</label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="email" placeholder="Email" name="email" value="@Model.email" readonly>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 120px;margin-left:20px;font-size:20px;font-weight:bold;">Phone</label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="text" placeholder="Phone" name="phone" value="@Model.phone" readonly>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 5px;margin-left:20px;font-size:20px;font-weight:bold;">Current Password<b style="color: red;">*</b></label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="password" placeholder="Password" name="cpassword" value="" required>
                </div>
                <div class="input-group" style="margin-bottom: 30px;">
                    <label style="margin-right: 40px;margin-left:20px;font-size:20px;font-weight:bold;">New Password</label>
                    <input style="border-radius: 5px;font-size:15px;font-weight:bold;" type="password" placeholder="New Password" name="npassword" minlength="6" value="">
                </div>
                <div class="input-group d-flex justify-content-center" style="margin-top: 55px;">
                    <button name="edit" class="btn btn-success btn-lg btn-block">Edit</button>
                </div>

            </form>
        </div>
    </div>



    @if (Session["userType"] != null && Session["userType"].Equals("normal"))
    {
        <div class="container">
            <p>Previous ordered cars</p>
            <a href="/home/previousOrderedCars">CLick here</a>
        </div>
    }


</body>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
